body {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(66, 57, 81, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("http://i.imgur.com/YJZBr6q.jpg");
    background-attachment: fixed;
}

h1 {
  color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

p {
  font-family: arial;
  color: lavender;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
    color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 35px;
  margin: auto;
}

.nav {
  height: 40px;
}

.nav-item {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100px;
  text-align: center;
  color: lavender;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 15px;
  background-color: purple;
  transition: width 250ms;
}

.nav-item:hover::after {
  width: 100%;
}

.box {
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: rgba(39, 37, 40, 0.5);
  border-width: 8px;
  padding-left: 1%;
  padding-right: 65.5%;
  display: inline-block;
  margin-top: 1%;
}