.nav {
  background: #CCC;
  height: 60px;
}

.nav-item {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100px;
  text-align: center;
  color: lavender;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0px;
  background-color: purple;
  transition: height 250ms;
}

.nav-item:hover::after {
  height: 10px;
}