/*Main HTML Elements*/

body {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(66, 57, 81, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url("http://i.imgur.com/YJZBr6q.jpg");
    background-attachment: fixed;
}

h1 {
  color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 50px;
  margin: auto;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

p1 {
  font-family: arial;
  color: lavender;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

h2 {
  color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 30px;
  margin: auto;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

ul, li {
  font-family: arial;
  color: lavender;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

h3 {
  color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 30px;
  margin: auto;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/*Navigation Bar*/

.nav {
  height: 30px;
}

.nav-item {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100px;
  text-align: center;
  color: lavender;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0px;
  background-color: purple;
  transition: height 250ms;
}

.nav-item:hover::after {
  height: 10px;
}

.low {
    padding: 1%;
    text-align: center;
}