body {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(66, 57, 81, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("http://i.imgur.com/YJZBr6q.jpg");
    background-attachment: fixed;
}

h1 {
  color: lavender;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

a {
  font-family: arial;
  color: lavender;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: arial;
  color: lavender;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.nav {
  height: 30px;
}

.nav-item {
  float: left;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100px;
  text-align: center;
  color: lavender;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0px;
  background-color: purple;
  transition: height 250ms;
}

.nav-item:hover::after {
  height: 10px;
}

.topbar {
display:flex; 
}

.login {
    display: block;
    color: lavender;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    padding-left: 97%
}

.sign-up {
    display: block;
    color: lavender;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    padding-left: 97%
}